@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html {
    font-size: 10px;
}

/* BAKGRUNN & HEADER */

body{
    background-color: #EEE5D4;
    background-image: url('./Bakgrunn3.png');
    background-size:cover;
   
}

header {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    background-color: rgba(223, 214, 198, 0.6);
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 3rem;
    top: 0%;

}

header img{
    display: flex;
    align-items: flex-start;
    height: 10rem;
}
 
header ul{
    list-style:none;
    display: flex;
    gap: 20px;
    font-family: 'Jost', sans-serif;
    color: #553F33;
    font-size: 25px;
    margin: 0 2rem 0 0;

    
}
header nav ul li:hover{
    text-decoration:underline;
}


/* BILDE GALLERI*/

.product-frames{
    max-width: 5000rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 10rem;
    gap: 5rem;
    margin-top: 10rem;

}

.product-frame{
    width: 36rem;
    position: relative;
    height: 50rem;
}

.product-frame img{
    width: 100%;
    border-radius: 38px;
    border: #553F33 0.3rem solid;
}

/* ABOUT SOFIA*/

.box-about-sofia{
    display: flex;
    align-content: center;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
    flex-flow: row nowrap;
    background-color: #553F33;
    padding: 3rem;  
}
.name_photo{
    flex-flow: column;
    margin: 3rem 0 3rem 5rem;
    
}

.box-about-sofia img{
    height: 50rem;
    border-radius: 38px;

}
.box-about-sofia h4{
    font-family:'Abel', sans-serif;
    color: #EEE5D4;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.box-about-sofia p{
    font-family:'Abel', sans-serif;
    color: #EEE5D4;
    font-size: 30px;
    margin: 15rem 10rem 0rem 10rem;
    
}





/* PRIS DEL*/

body section a:hover{
    text-decoration:underline;
    color: #EEE5D4;
}

.sale-cards{
    display: flex;
    align-content: center;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
    flex-flow: row nowrap;
    background-color: #553F33;
    padding: 3rem;
}

.sale-card img {
    width: 90%;
}

.sale-item{
    font-family:'Abel', sans-serif;
    color:#EEE5D4;
    font-size: 2.5rem;
    padding: 1rem;
    
}

.pil{
    margin-top: 15rem;
    
}


/* FOOTER*/

footer section div p:hover{
    text-decoration:underline;
}

.footer{
    background-color: #553F33;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 40px;
    padding: 50px;

}

.side-bar{
    flex: 1;
}

.side-bar h1{
    font-family:'Abel', sans-serif;
    color: #EEE5D4;
    font-size: 3rem;
    align-items: center;
    margin: 0 0 5rem 3rem;
    

}
.side-bar h2{
    font-family:'Abel', sans-serif;
    color:#553F33;
    font-size: 3rem;
    padding: 1.2rem;
    margin: 2rem;
    background-color:#EEE5D4;
}
.side-bar h3{
    font-family:'Abel', sans-serif;
    color: #EEE5D4;
    font-size: 3.5rem;
    padding:1.2rem;
    margin: 2rem;
    background-color: #000000;
    
}

.hjelp{
    font-family:'Abel', sans-serif;
    color: #EEE5D4;
    font-size: 3rem;
    flex: 1;
    padding-left: 20rem;

}

.footer img{
    height: 50rem;
    margin-right: 4rem;
    flex: 1;
}





/* EKSTRA DELER*/

.burger{
    display: flex;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    margin: 30px;
}
.small-sale{
    display: flex;
    align-content: center;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
    flex-flow: row nowrap;
    background-color: #553F33;
    padding: 3rem;

}



.about-sofia2{
    display: flex;
    background-color: #553F33;
    height: 600px;
    width: 100%;
    position: absolute;
    justify-content:center;
    top: 2250px;
    flex-direction:column;
    
}
.note2{
    color: #EEE5D4;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    margin: 5px;
    padding: 30px;
    margin: auto;
}
.photo2{
    width: 250px;
    height: 370px;
    border-radius: 38px;
    border: #553F33 2px solid;  
    margin: auto;
}
.readmore{
    color: #EEE5D4;
    font-family:'Abel', sans-serif;
    font-size: 40px;
    margin: 5px;
    padding-bottom: 10px;
    margin: auto;
    padding: 30px;

}
.seeprices{
    display: flex;
    background-color: #553F33;
    height: 600px;
    width: 100%;
    position: absolute;
    justify-content:center;
    top: 1570px;
    padding-top: 250px;
    color: #EEE5D4;
    font-family: 'Jost', sans-serif;
    font-size: 60px;

    
    
}



/* JUSTERING PÅ SCREEN STR */

@media screen and (min-width:900px) {
    .burger{
         display: none;
    }
    .small-sale{
        display: none;
   }


}
@media screen and (max-width:900px){
    header ul{
        display: none;
    }
    .sale-card{
        display: none;
    }
    .pil{
        display: none;
    }
    
}
@media screen and (min-width:1200px) {
    .product-frames img{
        display: flex;
        justify-content: center;
    }
}