@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html {
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    background-color: rgba(223, 214, 198, 0.6);
    width: 100%;
    position: fixed;
    z-index: 100;

 
}
body{
    background-color: #EEE5D4;
    background-image: url('./Bakgrunn3.png');
    background-size:cover;
   
}
.about-sofia{
    display: flex;
    background-color: #553F33;
    height: 600px;
    width: 100%;
    position: absolute;
    justify-content:center;
    top: 1200px;
    flex-direction:column;
    padding-left: 240px;   
}
.info{
    display: flex;
    transform: translate(280px, -200px);
    font-family:'Abel', sans-serif;
    color: #EEE5D4;
    font-size: 30px;
    width: 900px;

}
main {
    padding: 80px 0 0 0;
}

.note{
    color: #EEE5D4;
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    margin: 5px;
    padding-bottom: 10px;
    transform: translate(-70px, 180px);
    
}
header ul{
    list-style:none;
    display: flex;
    gap: 20px;
    font-family: 'Jost', sans-serif;
    color: #553F33;
    font-size: 25px;
    margin: 0 20px 0 0;
    
}
header nav ul li:hover{
    text-decoration:underline;
}
.photo{
    width: 250px;
    height: 370px;
    border-radius: 38px;
    border: #553F33 2px solid;  
    transform: translate(-40px, 170px);

}
.images{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding-top: 80px;
    gap: 20px;

}
.rosa{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
    
}
.kald-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.gray{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.images-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 20px;
    gap: 20px;

}
.tan-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.baris-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.varm-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.images-3{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
    padding-top: 650px;
    gap: 20px;

}
.rosa{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.kald-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.gray{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.images-5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 650px;
    gap: 20px;

}
.tan-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.baris-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.varm-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.images-6{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
    padding-top: 80px;
    gap: 20px;

}
.blue-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.farger{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.farge-dame{
    width: 350px;
    height: 500px;
    border-radius: 38px;
    border: #553F33 2px solid;
}
.Sale{
    background-color: #553F33;
    height: 600px;
    width: 100%;
    position: absolute;
    justify-content:center;
    top: 2350px;
    width: 100%;
    height: auto;
}
.sale-img{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 0 0 0;
    gap: 20px;
}
.sale-item p {
    text-align: center;
    font-family:'Abel', sans-serif;
    color: #EEE5D4;
    font-size: 30px;
}
.varm-dame2{
     width: 270px;
    height: 380px;  
    border:#EEE5D4 10px solid;
}
.tan-dame2{
    width: 270px;
   height: 380px;  
   border:#EEE5D4 10px solid; 
}
.kald-dame2{
    width: 270px;
   height: 380px; 
   border:#EEE5D4 10px solid;  
}
.baris-dame2{
    width: 270px;
   height: 380px; 
   border:#EEE5D4 10px solid;  
}
.Pil{
   width: 100px;
}
.footer{
    background-color: #553F33;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 40px;
    padding: 50px;

}
.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.medlem{
    font-family:'Abel', sans-serif;
    color: #EEE5D4;
    font-size: 30px;
    width: 450px;
    padding: 30px;
    
}
.dame-alene{
    width: 270px;
    height: 550px;
    padding-top: 100px;
}
.mail{
    background-color:#EEE5D4;
    width: 400px;
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;


    font-family:'Abel', sans-serif;
    color: #553F33;
    font-size: 30px;
    text-align: center;
}
.send{
    background-color: #866E5A; 
    width: 400px;
    height: 60px;
    padding: 10px;

    
    

    font-family:'Abel', sans-serif;
    color:#EEE5D4;
    font-size: 30px;
    text-align: center; 
}
.hjelp{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-between;

    font-family:'Abel', sans-serif;
    color:#EEE5D4;
    font-size: 30px;
    text-align:left; 
    gap: 20px;
    padding-top: 50px;
}
.burger{
    display: flex;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    margin: 30px;
}
.about-sofia2{
    display: flex;
    background-color: #553F33;
    height: 600px;
    width: 100%;
    position: absolute;
    justify-content:center;
    top: 1200px;
    flex-direction:column;
    
}
.note2{
    color: #EEE5D4;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    margin: 5px;
    padding: 30px;
    margin: auto;
}
.photo2{
    width: 250px;
    height: 370px;
    border-radius: 38px;
    border: #553F33 2px solid;  
    margin: auto;
}
.readmore{
    color: #EEE5D4;
    font-family:'Abel', sans-serif;
    font-size: 40px;
    margin: 5px;
    padding-bottom: 10px;
    margin: auto;
    padding: 30px;

}
.seeprices{
    color: #EEE5D4;
    font-family: 'Jost', sans-serif;
    font-size: 60px;
    top: 2350px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 200px;
    
}





@media screen and (min-width:900px) {
    .burger{
         display: none;
    }
}
@media screen and (max-width:900px){
    header ul{
        display: none;
    }
}
@media screen and (max-width:1300px){
     .about-sofia{
        display: none;
     }
}
@media screen and (max-width:1000px){
    .images-6{
        display: none;
    }
    .images-5{
        display: none;
    }
    .dame-alene{
        display: none;
    }
}
@media screen and (max-width:800px){
    .hjelp{
        display: none;
    }
}
@media screen and (max-width:1300px){
    .kald-dame2{
        display:none;
    }
    .baris-dame2{
        display: none;
    }
    .name3{
        display: none;
    }
    .name4{
        display: none;
    }
    .price3{
        display: none;
    }
    .price4{
        display: none;
    }
}
@media screen and (min-width:1300px) {
    .about-sofia2{
         display: none;
    }
}
@media screen and (min-width:1200px){
    .seeprices{
        display: none;
    }
}
@media screen and (max-width:1200px){
    .sale-img{
        display: none;
    }
}